USE [master]
GO
/****** Object:  Database [GIBBD]    Script Date: 07.02.2022 12:40:33 ******/
CREATE DATABASE [GIBBD]
GO
USE [GIBBD]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 07.02.2022 12:40:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 07.02.2022 12:40:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChangedStatus]    Script Date: 07.02.2022 12:40:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangedStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LicenseId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ChangedStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriverOrLicense]    Script Date: 07.02.2022 12:40:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverOrLicense](
	[DriverId] [int] NOT NULL,
	[LicenseId] [int] NOT NULL,
	[Nothing] [nvarchar](5) NULL,
 CONSTRAINT [PK_DriverOrLicense] PRIMARY KEY CLUSTERED 
(
	[DriverId] ASC,
	[LicenseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 07.02.2022 12:40:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Middlename] [nvarchar](50) NOT NULL,
	[Passport] [nvarchar](13) NOT NULL,
	[Town] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Company] [nvarchar](50) NOT NULL,
	[Jobname] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Photo] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[License]    Script Date: 07.02.2022 12:40:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[License](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LicenseDate] [date] NOT NULL,
	[ExpireDate] [date] NOT NULL,
	[License] [nvarchar](11) NOT NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_License] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LicenseOrCategories]    Script Date: 07.02.2022 12:40:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenseOrCategories](
	[LicenseId] [int] NOT NULL,
	[CategoriesId] [int] NOT NULL,
	[Nothing] [nvarchar](5) NULL,
 CONSTRAINT [PK_LicenseOrCategories] PRIMARY KEY CLUSTERED 
(
	[LicenseId] ASC,
	[CategoriesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 07.02.2022 12:40:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([Id], [Login], [Password]) VALUES (1, N'inspector', N'inspector')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'M')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'A')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'A1')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[ChangedStatus] ON 

INSERT [dbo].[ChangedStatus] ([Id], [LicenseId], [StatusId], [Comment]) VALUES (1, 204, 3, N'Был в состоянии алкогольного опьянения')
INSERT [dbo].[ChangedStatus] ([Id], [LicenseId], [StatusId], [Comment]) VALUES (2, 205, 3, N'Был в алкогольном опьянении')
INSERT [dbo].[ChangedStatus] ([Id], [LicenseId], [StatusId], [Comment]) VALUES (3, 205, 1, N'Исправился, права восстановлены')
SET IDENTITY_INSERT [dbo].[ChangedStatus] OFF
GO
INSERT [dbo].[DriverOrLicense] ([DriverId], [LicenseId], [Nothing]) VALUES (1, 1, NULL)
INSERT [dbo].[DriverOrLicense] ([DriverId], [LicenseId], [Nothing]) VALUES (2, 2, NULL)
INSERT [dbo].[DriverOrLicense] ([DriverId], [LicenseId], [Nothing]) VALUES (3, 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

INSERT [dbo].[Drivers] ([Id], [Surname], [Name], [Middlename], [Passport], [Town], [Address], [Company], [Jobname], [Phone], [Email], [Photo], [Comment], [IsDelete]) VALUES (1, N'Hopkins', N'Alonso', N'Caleb', N' 2303 160716', N'Hyattsville  ', N'452 Cobblestone St. ', N'Global Gillette', N'Reporter', N'+7(970)383-8933', N'skippy@icloud.com', N'001-happy-18.png', NULL, NULL)
INSERT [dbo].[Drivers] ([Id], [Surname], [Name], [Middlename], [Passport], [Town], [Address], [Company], [Jobname], [Phone], [Email], [Photo], [Comment], [IsDelete]) VALUES (2, N'Sellers', N'Kaydence', N'Susannah', N' 5563 160745', N'Hanover Park ', N'9648 Philmont Lane ', N'Coca-Cola', N'Elementary School Teacher', N'+7(867)708-4447', N'isotopian@sbcglobal.net', N'002-cool-5.png', NULL, NULL)
INSERT [dbo].[Drivers] ([Id], [Surname], [Name], [Middlename], [Passport], [Town], [Address], [Company], [Jobname], [Phone], [Email], [Photo], [Comment], [IsDelete]) VALUES (3, N'Bray', N'Finnegan', N'Brighton', N' 3719 717453', N'Woodstock  ', N'8438 North Fairground Court', N'Harley-Davidson Motor Company', N'Childcare worker', N'+7(221)428-7850', N'isaacson@att.net', N'003-happy-17.png', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
SET IDENTITY_INSERT [dbo].[License] ON 

INSERT [dbo].[License] ([Id], [LicenseDate], [ExpireDate], [License], [StatusId]) VALUES (1, CAST(N'2018-05-23' AS Date), CAST(N'2019-01-26' AS Date), N'5673 570962', 2)
INSERT [dbo].[License] ([Id], [LicenseDate], [ExpireDate], [License], [StatusId]) VALUES (2, CAST(N'2018-05-23' AS Date), CAST(N'2027-02-17' AS Date), N'2365 140143', 1)
INSERT [dbo].[License] ([Id], [LicenseDate], [ExpireDate], [License], [StatusId]) VALUES (3, CAST(N'2018-05-27' AS Date), CAST(N'2025-06-03' AS Date), N'8580 622744', 4)
GO
SET IDENTITY_INSERT [dbo].[License] OFF
GO
INSERT [dbo].[LicenseOrCategories] ([LicenseId], [CategoriesId], [Nothing]) VALUES (1, 4, NULL)
INSERT [dbo].[LicenseOrCategories] ([LicenseId], [CategoriesId], [Nothing]) VALUES (2, 4, NULL)
INSERT [dbo].[LicenseOrCategories] ([LicenseId], [CategoriesId], [Nothing]) VALUES (3, 4, NULL)
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [Name]) VALUES (1, N'Active')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (2, N'Expire')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (3, N'Paused')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
ALTER TABLE [dbo].[ChangedStatus]  WITH CHECK ADD  CONSTRAINT [FK_ChangedStatus_Categories] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[ChangedStatus] CHECK CONSTRAINT [FK_ChangedStatus_Categories]
GO
ALTER TABLE [dbo].[ChangedStatus]  WITH CHECK ADD  CONSTRAINT [FK_ChangedStatus_License] FOREIGN KEY([LicenseId])
REFERENCES [dbo].[License] ([Id])
GO
ALTER TABLE [dbo].[ChangedStatus] CHECK CONSTRAINT [FK_ChangedStatus_License]
GO
ALTER TABLE [dbo].[ChangedStatus]  WITH CHECK ADD  CONSTRAINT [FK_ChangedStatus_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[ChangedStatus] CHECK CONSTRAINT [FK_ChangedStatus_Status]
GO
ALTER TABLE [dbo].[DriverOrLicense]  WITH CHECK ADD  CONSTRAINT [FK_DriverOrLicense_Drivers] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Drivers] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DriverOrLicense] CHECK CONSTRAINT [FK_DriverOrLicense_Drivers]
GO
ALTER TABLE [dbo].[DriverOrLicense]  WITH CHECK ADD  CONSTRAINT [FK_DriverOrLicense_License] FOREIGN KEY([LicenseId])
REFERENCES [dbo].[License] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DriverOrLicense] CHECK CONSTRAINT [FK_DriverOrLicense_License]
GO
ALTER TABLE [dbo].[License]  WITH CHECK ADD  CONSTRAINT [FK_License_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[License] CHECK CONSTRAINT [FK_License_Status]
GO
ALTER TABLE [dbo].[LicenseOrCategories]  WITH CHECK ADD  CONSTRAINT [FK_LicenseOrCategories_Categories] FOREIGN KEY([CategoriesId])
REFERENCES [dbo].[Categories] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LicenseOrCategories] CHECK CONSTRAINT [FK_LicenseOrCategories_Categories]
GO
ALTER TABLE [dbo].[LicenseOrCategories]  WITH CHECK ADD  CONSTRAINT [FK_LicenseOrCategories_License] FOREIGN KEY([LicenseId])
REFERENCES [dbo].[License] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LicenseOrCategories] CHECK CONSTRAINT [FK_LicenseOrCategories_License]
GO
USE [master]
GO
